<div>
    <div class="header">
        <div class="brand">Shop</div>
        <div class="product">
            <a nz-button nzType="link" nzGhost routerLink="products">Products</a>
        </div>
        <div class="add">
            <a nz-button nzType="link" nzGhost routerLink="add">Add</a>
        </div>
        <div class="statistics">
            <a nz-button nzType="link" nzGhost routerLink="statistics">Statistics</a>
        </div>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>